<p id="cartMessage"></p>
<div class="shz-my-cart r-content">
	<div class="cart-left" style="">
		<div class="cart-header">
			<div class="checkbox-wrap" style="">
				<div style="display: flex;">
					<div class="checkbox-input">
						<input type="checkbox" name="" id="headCheckBox">
					</div>
					<div class="checbox-text">Chọn toàn bộ</div>
				</div>
				<div>
					<a onclick="deleleItemSelected(event)" href="">Xóa&nbsp;<i
						class="fa-solid fa-trash-can"></i></a>
				</div>
			</div>
		</div>
		<div class="cart-list">
			<div class="cart-item" th:if="${listCartByUser != null }"
				th:each="p : ${listCartByUser}">
				<div class="cart-item-info">
					<div class="cart-item-checkbox">
						<input
							th:attr="data-price=${p.product.productCurrentPrice}, data-product=${p.product.id}"
							type="checkbox" name="cbcartitem" id="" onchange="cbChange(this)">
					</div>
					<div class="cart-img">
						<img th:src="'/img/web/product/' + ${p.product.productImage}"
							alt="">
					</div>
					<div class="cart-item-name">
						<a th:href="@{'/shoza/product/' + ${p.product.productTitle}}"
							th:text="${p.product.productName}"> </a>
					</div>
					<div class="cart-item-price">
						<span><p
								th:text="${#numbers.formatDecimal(p.product.productCurrentPrice, 1, 'POINT', 0, 'POINT')}"></p>
							<span>&nbsp;đ</span></span>
					</div>
					<div class="cart-item-quantity">
						<span> <a href=""
							th:onclick="'lowCartItem(this,'+${p.id}+')'">-</a> <input min="1"
							th:value="${p.quantity}" type="number" name=""
							th:attr="data-id=${p.id},data-max=${p.product.productQuantity},data-price=${p.product.productCurrentPrice}"
							id="quantityInCartItem"> <a href=""
							th:onclick="'upCartItem(this,'+${p.id}+')'">+</a>
						</span>
					</div>
				</div>
				<div class="delete-cart-item">
					<a th:attr="data-id=${p.id}, data-name=${p.product.productName}"
						onclick="showConfirmationDialog(event)"
						th:href="@{'/shoza/my-cart/delete/'+${p.id}}"><i
						class="fa-solid fa-trash-can"></i></a>
				</div>
			</div>

		</div>
	</div>
	<div class="cart-right">
		<div class="right-info">
			<div class="right-header">
				<div class="text">Địa điểm</div>
			</div>
			<div class="right-checkout-info">
				<div class="checkout-title">Thông tin đơn hàng</div>
				<div class="checkout-row">
					<input type="text" placeholder="Tên người nhận" class="order-info"
						id="orderInfoName">
				</div>
				<div class="checkout-row">
					<input type="text" placeholder="Số điện thoại" maxlength="11"
						class="order-info" id="orderInfoPhone">
				</div>
				<div class="checkout-row">
					<input type="text" placeholder="Địa chỉ nhận hàng"
						class="order-info" id="orderInfoAddress">
				</div>
				<div class="checkout-row">
					<div class="checkout-col-left label" id="tmpItem">Tạm tính (0
						sản phẩm)</div>
					<div class="checkout-col-price" id="tmpPrice">0đ</div>
				</div>
				<div class="checkout-row">
					<div class="checkout-col-left">
						<input type="text">
					</div>
					<div class="checkout-col-price">
						<button>ÁP Dụng</button>
					</div>
				</div>
				<div class="checkout-row">
					<div class="checkout-col-left"
						style="display: flex; align-items: center; font-size: 15px">
						<img th:src="@{'/img/ship_payment.png'}" width="35" height="35">
						Thanh toán khi nhận hàng
					</div>
					<div class="checkout-col-price">
						<input type="radio" name="payment" value="1" checked>
					</div>
				</div>
				<div class="checkout-row">
					<div class="checkout-col-left"
						style="display: flex; align-items: center; font-size: 15px">
						<img th:src="@{'/img/payment_card.png'}" width="35" height="35">
						Thẻ tín dụng/ Thẻ ghi nợ
					</div>
					<div class="checkout-col-price">
						<input type="radio" name="payment" value="0">
					</div>
				</div>
				<div class="checkout-row" style="border-top: 1px solid #ccc">
					<div class="checkout-col-left">Tổng cộng</div>
					<div class="checkout-col-price" id="tmpTotalPrice">0đ</div>
				</div>
				<div class="checkout-row">
					<button onclick="checkOut(this)">Xác nhận giỏ hàng</button>
				</div>
			</div>
		</div>
	</div>
</div>


<div id="cartDialog">
	<div id="dialogBox">
		<h2>Dialog</h2>
		<br>
		<p>Nội dung dialog điền vào đây...</p>
		<br> <a class="btn" onclick="closeCartDialog()" href="#">Đóng</a><br>
	</div>
</div>