#UserTable .td-role .td-role-top {
    position: relative;
}

#UserTable .td-role .td-role-top .role {
    display: flex
}

#UserTable .td-role .td-role-top .role-option {
    position: absolute;
    top: 100%;
    left: -10%;
    right: 50%;
    background: linear-gradient(to right, rgb(128, 104, 130), rgb(139, 158, 98));
    border-radius: 10px;
    overflow: hidden;
    display: none;
	z-index: 99;
}

#UserTable .role-option.block {
    display: block !important;
}

#UserTable .role-option div {
    padding: 7px 5px;

    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

#UserTable .role-option div a {
    color: white;
}

/* MODAL */
.user-modal,
.user-modal-add {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .8);
    display: none;
}

.user-modal .user-modal-content {
    width: 30%;
    height: 22%;
    transform: translate(120%, 100%);
    background: white;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

#user-modal .modal-content-message {
    padding: 20px 20px;
}

#user-modal .modal-content-action {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

#user-modal .modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

#user-modal .modal-close a {
    font-weight: 700;
    border-radius: 50%;
}

/* MODAL ADD USER */


.user-modal-add .modal-add-content {
    width: 50%;
    height: 46%;
    transform: translate(50%, 50%);
    background: white;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.user-modal-add .model-row {
    padding: 10px;
}

.user-modal-add .model-row input {
    width: 100%;
    padding: 10px 15px;
}

.user-modal-add .model-row select {
    padding: 5px 20px;
}

.user-modal-add .model-row:last-child {
    display: flex;
    justify-content: space-between;
}

.user-modal-add .model-row:last-child div:first-child {
    flex-grow: 1;
}

.user-modal-add .model-row:last-child div:last-child {
    flex-grow: 4;
    display: flex;
}

.user-modal-add .model-row:last-child div:last-child input{
	padding: 5px 15px!important;
}

.user-table th,.user-table td{
	padding: 10px 0;
}