<div class="shoza-feedback r-content" id="shozaFeedback">
	<div class="feedback-content">

		<div class="feedback-body">
			<div class="feedback-header">
				<div class="feedback-logo">
					<img th:src="@{/img/shoza.png}" alt="Logo">
				</div>

				<div class="feedback-title">Góp ý</div>
			</div>
			<div>
				<p class="feedback-message">Ý kiến của bạn vô cùng quan trọng.
					Chúng tôi có thể cải thiện những gì?</p>
			</div>
			<div>
				<form method="post" >
					<textarea style="" placeholder="Ý kiến của bạn..." name="feedback-content"></textarea>
					<button type="button" disabled>Gửi</button>
				</form>
			</div>
		</div>

	</div>
</div>